-i https://pypi.python.org/simple
alabaster==0.7.11
atomicwrites==1.2.1; python_version != '3.2.*'
attrs==18.2.0
babel==2.6.0
boto3==1.9.0
botocore==1.12.0
certifi==2018.8.24
chardet==3.0.4
coverage==4.5.1
docutils==0.14
idna==2.7
imagesize==1.1.0; python_version != '3.2.*'
jinja2==2.10
jmespath==0.9.3
jsonschema==2.6.0
markupsafe==1.0
mock==2.0.0
more-itertools==4.3.0
packaging==17.1
pbr==4.2.0
pluggy==0.7.1; python_version != '3.2.*'
py==1.6.0; python_version != '3.2.*'
pygments==2.2.0
pyparsing==2.2.0
pytest==3.8.0
python-dateutil==2.7.3; python_version >= '2.7'
pytz==2018.5
requests==2.19.1
s3transfer==0.1.13
six==1.11.0
snowballstemmer==1.2.1
sphinx==1.7.9
sphinxcontrib-websupport==1.1.0; python_version != '3.2.*'
urllib3==1.23; python_version != '3.1.*'
